<p id="notice"><%= notice %></p>

<p>
  <b>Journal:</b>
  <%= @issue.journal_id %>
</p>

<p>
  <b>Theme:</b>
  <%= @issue.theme %>
</p>

<p>
  <b>Number:</b>
  <%= @issue.number %>
</p>

<p>
  <b>Picu:</b>
  <%= @issue.picture %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', see_journal_path(@issue.journal_id) %>
