<div id="issue_show">

	<% Page.where("issue_id = ?", @issue.id).order('classement ASC').each do |page| %>
		<%= page.classement %>
		<%= page.name %>

	</br>
	<% end %>
	
</div>

<p>
  <b>Journal:</b>
  <%= @issue.journal_id %>
</p>

<p>
  <b>Theme:</b>
  <%= @issue.theme %>
</p>

<p>
  <b>Number:</b>
  <%= @issue.number %>
</p>

<p>
  <b>Picu:</b>
  <%= @issue.picture %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', see_journal_path(@issue.journal_id) %>
