  <div class="author">

    <div class="avatar">
      <%= link_to (image_tag @article.user.avatar_url().to_s), @article.user %>
    </div>

    <div class="name">
      <%= link_to @article.user.username, user_path(@article.user) %>
    </div>

    <div class="about-user">
      Software developer. Writer. Aspiring filmmaker. The son of two crazy Canadians who once had an epic adventure during a time when such journeys were unheard of.
    </div>

    <div class="published">
      Publié le
    </div>

    <div class="date">
      <%= @article.created_at.strftime("%d, %B %Y") %>
    </div>

    <figure>
            <figcaption>
                <h3></h3>

                <div id="follow-unfollow">
                  <% if ((user_signed_in?) and (current_user.id != @article.user.id)) %>

                    <% is_following =  Follow.all(:conditions => ['user_id = ? AND followee_id = ?', current_user.id, @article.user.id]).count %>

                    <% if is_following < 1 %>


                    <%= form_for(Follow.new, :remote => true) do |f| %>
                      <%= f.hidden_field :user_id, :value => current_user.id %>
                      <%= f.hidden_field :followee_id, :value => @article.user.id %>

                        <button id="follow-button" type="submit" type="button" class="btn btn-default btn-lg">
                          <span class="glyphicon glyphicon-flag"></span> S'abonner a l'utilisateur
                        </button>
                    
                    <% end %>

                    <% else %>
                    <%= link_to 'Destroy', Follow.all(:conditions => ['user_id = ? AND followee_id = ?', current_user.id, @article.user.id]), :class => "btn btn-default btn-lg", :id => "unfollow-button", remote: true, method: :delete %>
                    <% end %>

                  <% end %>                  
                </div>


            </figcaption>
        </figure>
  </div>