<h1>Listing publications</h1>

<table>
  <tr>
    <th>Article</th>
    <th>Journal</th>
    <th>User</th>
    <th>Element</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @publications.each do |publication| %>
  <tr>
    <td><%= publication.article_id %></td>
    <td><%= publication.journal_id %></td>
    <td><%= publication.user_id %></td>
    <td><%= publication.element %></td>
    <td><%= publication.created_at %></td>
    <% if publication.element == "article" %>
    <td><%= Article.find(publication.article_id).title %></td>
    <% end %>
    <td><%= link_to 'Show', publication %></td>
    <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
    <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Publication', new_publication_path %>
