<div id="new-article">
  
  <%= render "users/widgets/lefty" %>


  <div class="form-container">


  <a onClick='$("#article_photo").trigger("click");'><%= image_tag "icons/add_picture.png" %></a>

    <%= form_for(@article) do |f| %>
      <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="title">
        <%= f.text_field :title, placeholder: "Tapez votre title" %>
      </div>

      <div class="content">
        <%= f.hidden_field :content %>
      </div>

        <%= f.hidden_field :lang_id %>
        <%= f.hidden_field :user_id, value: current_user.id %>

        <%= f.file_field :photo %>


        <div class="new-content" data-placeholder="Parlez nous un peu de vous..." id="textarea" onkeyUp="document.getElementById('article_content').value = document.getElementById('textarea').innerHTML;" onmouseUp="document.getElementById('article_content').value = document.getElementById('textarea').innerHTML;"><%= raw(@article.content) %></div>
    

      <div class="actions">
        <input name="commit" type="submit" value="Mettre à jour" />
      </div>



    <% end %>

      <script>var editor = new MediumEditor('.new-content', {firstHeader: ''}
      );</script>

  </div>


</div>