<div id="article-show">
  
  <div class="title">
    <%= @article.title %>
  </div>

  <div class="photo">
    <%= image_tag @article.photo_url().to_s %>
  </div>

  <!-- SOCIAL SHARING MODULE -->
    <%= render "articles/showmodules/share" %>
  <!-- SOCIAL SHARING MODULE END -->


  <div class="content">
    <%= raw(@article.content) %>
  </div>

  <!-- FB COMMENTS MODULE -->
    <%= render "articles/showmodules/fb_comments" %>
  <!-- FB COMMENTS MODULE END -->

</div>



<div id="article-show-left-bar">

  <!-- AUTHOR MODULE -->
    <%= render "articles/showmodules/author" %>
  <!-- AUTHOR MODULE END -->

  <!-- ADD TO MY JOURNAL MODULE -->
    <%= render "articles/showmodules/add_to_my_journal" %>
  <!-- ADD TO MY JOURNAL MODULE END -->

  <!-- CREDIBILITY MODULE -->
    <%= render "articles/showmodules/credibility" %>
  <!-- CREDIBILITY MODULE END -->

  <!-- LIST OF PUBLISHING JOURNALS MODULE -->
    <%= render "articles/showmodules/list_journals" %>
  <!-- LIST OF PUBLISHING JOURNALS MODULE END -->


</div>

<div id="related-articles">
  
  <!-- RELATED ARTICLES MODULE -->
    <%= render "articles/showmodules/related_articles" %>
  <!-- RELATED ARTICLES MODULE END -->

</div>



  
<!-- MODAL ADD TO JOURNAL MODULE -->
  <%= render "articles/showmodules/add_modal" %>
<!-- MODAL ADD TO JOURNAL MODULE END -->

