<div id="plateforme_home">
  <%= link_to (image_tag 'newspaper.png'), homes_path() %>
</div>

<div id="article-show">

    <div class="title">
      <%= @article.title %>
    </div>

    <div class="article">
      
      <!-- SOCIAL SHARING MODULE -->
        <% render "articles/showmodules/share" %>
      <!-- SOCIAL SHARING MODULE END -->

      
      <!-- SOCIAL INTERACTING MODULE -->
        <%= render "articles/showmodules/interact" %>
      <!-- SOCIAL INTERACTING MODULE END -->

      
      <div class="photo">
        <%= image_tag @article.photo_url().to_s %>
      </div>


      <div class="content">
        <%= raw(@article.content) %>
      </div>


      <!-- SOCIAL SHARING MODULE -->
        <%= render "articles/showmodules/share" %>
      <!-- SOCIAL SHARING MODULE END -->


      <!-- FB COMMENTS MODULE -->
        <%= render "articles/showmodules/fb_comments" %>
      <!-- FB COMMENTS MODULE END -->



    </div>

    <div class="sidebar">

      <!-- AUTHOR MODULE -->
        <%= render "articles/showmodules/author" %>
      <!-- AUTHOR MODULE END -->

    </div>

</div>

