<%= render "users/partials/cover_top" %>


<div id="profile-container">
  <!-- 
  < rende "users/partials/controllers_top" %>

  < rende "users/partials/followers" %>

  < rende "users/partials/following_journals" %>

  < rende "users/partials/credibility" %>

  < rende "users/partials/journals" %>

  < rende "users/partials/top_ten_articles" %>

  < rende "users/partials/publications" %>
 -->
</div>







<div id="user_show_left">

  <div id="personal_pack">
    

    <div id="about">
      <%= @user.about %>
    </div>

    <div id="location">
      <strong><span class="glyphicon glyphicon-map-marker"></span> <%= @user.town %></strong> &bull; <span class="glyphicon glyphicon-globe"></span> <a href="">http://www.unbound.com</a>
    </div>

  </div>

  <div id="user_stats">
    
    <div id="articles">
      <span class="glyphicon glyphicon-edit"></span> <span class="number"><%= Article.where('user_id = ?', @user.id).count %></span> Articles
    </div>

    <div id="journals">
      <span class="glyphicon glyphicon-book"></span> <span class="number"><%= Journal.where('user_id = ?', @user.id).count %></span> Journals
    </div>

    <div id="followers">
      <span class="glyphicon glyphicon-bullhorn"></span> <span class="number"><%= Follow.where('user_id = ?', @user.id).count %></span> Abonnés
    </div>


</div>


truncate(article.content, length: 130)

        <div id="cover">
          if issue.picture.present? %>
           = image_tag issue.picture_url().to_s %>
          else %>
           = image_tag "rails.png" %>
          end %>
        </div>



</div>



</script>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
