<div id="profile-show">
  

  <%= render "users/widgets/profile_lefty" %>



  <div id="half-body">
    
    <div id="publications">

      <%= render "users/partials/publications" %>
      

    </div>




<!-- 




      <div class="profile-sidebar">

        <%= render "users/partials/followers" %>

        <%= render "users/partials/credibility" %>

        <%= render "users/partials/top_ten_articles" %>

        <%= render "users/partials/journals" %>
        
      </div> -->
      <!-- 
      < rende "users/partials/controllers_top" %>

      < rende "users/partials/followers" %>

      < rende "users/partials/following_journals" %>

      < rende "users/partials/credibility" %>

      < rende "users/partials/journals" %>

      < rende "users/partials/top_ten_articles" %>

      < rende "users/partials/publications" %>
     -->
    </div>





  </div>



</div>





