<div id="user_show">
  
  <div id="avatar" class="box size22">
    <%= image_tag @user.avatar_url(:profile).to_s %>
  </div>

  <div id="about" class="box size31" style="background-color: #E54E2E; text-align: center;">

    <div class="name">Bonjours, je suis <%= @user.username %></div>

    <div class="content"><%= @user.about %></div>
    
  </div>

</div>




<script type="text/javascript" >
  
  $(function() { 
   
    $('#user_show').nested(); 
 
  });
  
  
</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>About:</b>
  <%= @user.about %>
</p>

<p>
  <b>Country:</b>
  <%= @user.country_id %>
</p>

<p>
  <b>Town:</b>
  <%= @user.town %>
</p>

<p>
  <b>Avatar:</b>
  
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
