    
      <div class="left">
        <div class="overlay">
            
        </div>

        <div class="logo">
          <%= link_to (image_tag "newspaper.png"), root_path() %>
        </div>
          
          <div class="userbox">

            <% if @user.avatar.present? %>
            <div class="avatar">
              <%= image_tag @user.avatar_url.to_s %>
            </div>
            <% end %>

            <div class="name">
              <%= link_to @user.username, user_path(@user) %>
            </div>

            <hr>

            <div class="aboutme">
              <%= @user.about %>
            </div>

          </div>
          
          <% if user_signed_in? %>
          <div class="user-buttons">
          	<% if @user.id == current_user.id %>
            	<a href="<%= new_article_path() %>" class="new-article"><span class="icon-doc-add"></span> Nouvel Article</a> ou <a href="" class="new-folder">Nouveau Dossier</a>
          	<% else %>
            	<a href="<%= new_article_path() %>" class="follow-user"><span class="icon-doc-add"></span> S'abonner à <%= @user.username %></a>
            <% end %>
          </div>
          <% end %>

            <% if @user.avatar.present? %>
              <script>
                $(".left").backstretch("<%= @user.background_url().to_s %>");
              </script>
            <% else %>
              <script>
                $(".left").backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
              </script>
            <% end %>


      </div>