    
      <div class="left">
        <div class="overlay">
            
        </div>

        <div class="logo">
          <%= link_to (image_tag "newspaper.png"), root_path() %>
        </div>

        <% if user_signed_in? %>
          
          <div class="userbox">

            <div class="avatar">
              <%= image_tag @user.avatar_url.to_s %>
            </div>

            <div class="name">
              <%= link_to @user.username, user_path(@user.id) %>
            </div>

            <hr>

            <div class="aboutme">
              Formerly: Goldman Sachs. Founder at AdGrok (sold to Twitter). Product at Facebook. FBX creator. Presently: Absolute dictator of a 32-foot sailboat. @antoniogm
            </div>

          </div>

          <div class="user-buttons">
          	<% if @user.id == current_user.id %>
            	<a href="<%= new_article_path() %>" class="new-article"><span class="icon-doc-add"></span> Nouvel Article</a> ou <a href="" class="new-folder">Nouveau Dossier</a>
          	<% else %>
            	<a href="<%= new_article_path() %>" class="follow-user"><span class="icon-doc-add"></span> S'abonner à <%= @user.username %></a>
            <% end %>
          </div>

          
            <script>
              $(".left").backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
            </script>

        <% end %>

      </div>