    
      <div id="user_bar" class="left">
        <div class="overlay">
            
        </div>

        <div class="logo">
          <%= link_to (image_tag "newspaper.png"), root_path() %>
        </div>

        <% if user_signed_in? %>

          
          <div class="userbox">

            <% if @user.avatar.present? %>
            <div class="avatar">
              <%= image_tag @user.avatar_url(:profile).to_s %>
            </div>
            <% end %>

            <div class="name">
              <%= link_to @user.username, user_path(@user) %>
            </div>

            <hr>

            <div class="aboutme">
              <%= raw(@user.about) %>
            </div>

          </div>

          <div class="user-buttons">
            <% if @user.id == current_user.id %>
              <a href="<%= new_article_path() %>" class="new-article"><span class="icon-doc-add"></span> <%= t "new_article" %></a>
            <% else %>
              <a href="<%= new_article_path() %>" class="follow-user"><span class="icon-doc-add"></span> <%= t 'follow' %> <%= @user.username %></a>
            <% end %>
          </div>

            <% if @user.avatar.present? %>
              <script>
                $(".left").backstretch("<%= @user.background_url().to_s %>");
              </script>
            <% else %>
              <script>
                $(".left").backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
              </script>
            <% end %>



        <% else %>

          <div class="description">
            <div class="title">
              Dowritit
            </div>

            <div class="motto">
             <%= t "motto" %> <span class="icon-emo-coffee"></span> &nbsp; ... 
              <a href=""><%= t "whats_about" %>?</a>
            </div>

            <hr>

            <div class="register-connect">
<!--               <a href="" class="facebook"><span class="icon-facebook-circled"></span> Facebook</a>
              <a href="" class="twitter"><span class="icon-twitter-circled"></span> Twitter</a></br></br> -->
              <a href="<%= login_path() %>" class="formulaire"><%= t "connect" %></a> <%= t "or" %> <a href="<%= register_path() %>" class="formulaire"><%= t "register" %></a> <%= t "old_way" %>
            </div>
          </div>
          
            <script>
              $(".left").backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
            </script>
        <% end %>


      </div>