<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @page.name %>
</p>

<p>
  <b>Issue:</b>
  <%= @page.issue_id %>
</p>


Panier à article libre
<% @issue = Issue.find(@page.issue_id) %>
<% @relationship = ArticlesAndPage.where("journal_id = ?", Journal.find(@issue.journal_id).id) %>
<ul>
	<% @relationship.each do |article| %>
	<% unless article.page_id.present? %>
	<li>
		<%= Article.find(article.id).title %>

		<%= form_for(ArticlesAndPage.find(article.id), :remote => true) do |f| %>
			<%= f.hidden_field :page_id, value: @page.id %>
		<%= f.submit %>

		<% end %>
	
	</li>
	<% end %>	
	<% end %> 
</ul>


</br>

Article de la page
<ul>
	<% ArticlesAndPage.where("page_id = ?", @page.id).each do |article| %>
	<li>
		<%= Article.find(article.id).title %>
	</li>		
	<% end %> 
</ul>



<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
