  <div id="home-logged-of">
    
      <div class="left">
        <div class="overlay">
            
        </div>

        <div class="logo">
          <%= link_to (image_tag "newspaper.png"), homes_path() %>
        </div>

        <% if user_signed_in? %>
          
          <div class="userbox">

            <% if current_user.avatar.present? %>
            <div class="avatar">
              <%= image_tag current_user.avatar_url(:profile).to_s %>
            </div>
            <% end %>

            <div class="name">
              <%= link_to current_user.username, user_path(current_user) %>
            </div>

            <hr>

            <div class="aboutme">
              <%= raw(current_user.about) %>
            </div>

          </div>

          <div class="user-buttons">
            <a href="<%= new_article_path() %>" class="new-article"><span class="icon-doc-add"></span> <%= t "homes.new_article" %></a>
          </div>

          
            <script>
              $(".left").backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
            </script>


        <% else %>

          <div class="description">
            <div class="title">
              DoWritit
            </div>

            <div class="motto">
             <%= t "motto" %> <span class="icon-emo-coffee"></span> &nbsp; ... 
              <a href=""><%= t "whats_about" %>?</a>
            </div>

            <hr>

            <div class="register-connect">
              <a href="" class="facebook"><span class="icon-facebook-circled"></span> Facebook</a>
              <a href="" class="twitter"><span class="icon-twitter-circled"></span> Twitter</a></br></br>
              <a href="<%= login_path() %>" class="formulaire"><%= t "sign_in" %></a> <%= t "or" %> <a href="<%= register_path() %>" class="formulaire"><%= t "register" %></a> <%= t "old_way" %>
            </div>
          </div>
          
            <script>
              $(".left").backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
            </script>
        <% end %>

      </div>

    <div class="catalogue" style='padding-top: 70px;'>
      
      <div class="navigation" style='display: none;'>
        <ul>
          <li><a href="<%= home_tab_articles_path() %>" data-remote='true'>Articles</a></li>
          <li><a href="<%= home_tab_journals_path() %>" data-remote='true'>Journaux</a></li>
        </ul>
      </div>


      <% Article.order("created_at DESC").all.each do |article| %>
        <div class="article article-<%= article.id %>">
          <div class="title">
            <%= link_to article.title, article_path(article) %>
          </div>
<!-- 
          <div class="avatar">
            <% link_to (image_tag article.user.avatar_url().to_s), user_path(article.user) %>
          </div>
 -->
          <div class="preview">
            <%= strip_tags(truncate(article.content, length: 450)) %>
          </div>

          <div class="belt">
            <div class="favorite favorite-<%= article.id %>">

              <% if user_signed_in? and (Favorite.where("article_id = ? AND user_id = ?", article.id, current_user.id).count < 1) %>
                <a href="<%= article_favorite_toggle_path(article.id) %>" class="toggle_link" data-remote="true"><span class='icon-star'></span> <%= t "add_to_favorite" %></a>
              <% end %>

              <% if user_signed_in? and (Favorite.where("article_id = ? AND user_id = ?", article.id, current_user.id).count > 0) %>
                <a href="<%= article_favorite_toggle_path(article.id) %>" class="toggle_link" data-remote="true"><span class='icon-cancel'></span> <%= t "remove_from_favorites" %></a>
              <% end %>

              <% Favorite.where("article_id = ?", article.id).order('created_at DESC').last(5).each do |favore| %>
                <%= link_to (image_tag favore.user.avatar_url().to_s), favore.user, :class => 'avatar_link' %>
              <% end %>
            </div>


            <div class="interacts">
              <a href="https://twitter.com/share" title="<%= t 'share_twitter' %>" target="blank"><span class="icon-twitter"></span></a>
              <a href="#" title="<%= t 'share_facebook' %>" onclick="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;"><span class="icon-facebook-rect"></span></a>
            </div>
          </div>

          <div class="data">
            <%= t "redacted_by" %> <%= link_to article.user.username, user_path(article.user) %>, <span class="icon-bookmark"></span> <%= time_ago_in_words(article.created_at) %>
            <% unless article.user.nil? %>
            </br><%= article.user.about %>
            <% end %>
          </div>



        </div>
      <% end %>



      <% Journal.order("created_at DESC").all.each do |journal| %>
        <div class="journal journal-<%= journal.id %>" style="display: none">
          <div class="title">
            <%= journal.name %>
          </div>

          <div class="preview">
            <%= strip_tags(truncate(journal.description, length: 450)) %>
          </div>

          <div class="data">
              <%= link_to journal.user.username, user_path(journal.user.id) %>, <span class="icon-bookmark"></span> <%= time_ago_in_words(journal.created_at) %>

          </div>

        </div>
      <% end %>


    </div>
  </div>


