
<div id="newspaper">
  
  <% Article.all.each do |article| %>

      <% if user_signed_in? %>
        <% reads = Read.where('article_id = ? AND user_id = ?', article, current_user.id).count %>


        <% if reads < 6 %>

          <div id="article" class="box size11">

            <% if article.photo.present? %>
            <div class="photo">
              <%= image_tag article.photo_url(:home11).to_s %>
            </div>
            <% end %>
            
            <div class="title" style="font-size: 16px;">
              <%= link_to article.title, article %>
            </div>
            

            <!-- CHECKING OUT IF THE ARTICLE IS READ -->
            <% if user_signed_in? %>
              <% if Read.where('article_id = ? AND user_id = ?', article, current_user.id).count < 1 %>

                <div class="unread">
                  <%= image_tag 'corner_triangle.png' %>
                </div>

              <% end %>
            <% end %>
            <!-- CHECKING OUT IF THE ARTICLE IS READ END -->


            <%= article.content.truncate(150) %>
          </div>

        <% end %>

        
        <% if reads > 5 %>

          <div id="article" class="box size22">
            <div class="photo">
              <%= image_tag article.photo_url(:home22).to_s %>
            </div>
            
            <div class="title" style="font-size: 22px;">
              <%= link_to article.title, article %>
            </div>
            

            <!-- CHECKING OUT IF THE ARTICLE IS READ -->
            <% if user_signed_in? %>
              <% if Read.where('article_id = ? AND user_id = ?', article, current_user.id).count < 1 %>

                <div class="unread">
                  <%= image_tag 'corner_triangle.png' %>
                </div>

              <% end %>
            <% end %>
            <!-- CHECKING OUT IF THE ARTICLE IS READ END -->


            <%= article.content.truncate(350) %>
          </div>

        <% end %>

      <% end %>



  <% end %>

</div>




<script type="text/javascript" >
  
  $(function() { 
   
    $('#newspaper').nested(); 
 
  });
  
  
</script>

