<div id="user-cover-profile">
	
	<div class="user-block">
		<div class="avatar">
			<%= image_tag @user.avatar_url(:profile).to_s %>
		</div>

		<div class="user-data">
			<div class="name">
				<%= @user.username %>
			</div>

			<div class="job">
				<%= image_tag "color_18/id.png" %>  Employeur actuel : Faculté de medecine de monastir
			</div>

			<div class="follows">
				<%= image_tag "color_18/location.png" %>  Situé à : Monastir    <%= image_tag "color_18/world.png" %>  www.m-breath.com
			</div>
		</div>
	</div>
</div>