	<% Publication.where('user_id = ? AND element = ?', @user.id, "article").order("created_at DESC").each do |publication| %>
	<% if publication.element == "journal" %>

		<div class="publication-journal-box" style="background-color: red;">

			<div class="title-block">
				
				<div class="title">
					<%= link_to Journal.find(publication.journal_id).name, Journal.find(publication.journal_id) %>
				</div>

				<div class="created-at">
					<%= Journal.find(publication.journal_id).user.username %> &bull; Démarré le <%= Journal.find(publication.journal_id).created_at.day %>/<%= Journal.find(publication.journal_id).created_at.month %>/<%= Journal.find(publication.journal_id).created_at.year %>
				</div>

			</div>

			<div class="cover">
				<%= link_to image_tag(Journal.find(publication.journal_id).cover_url().to_s), Journal.find(publication.journal_id) %>
			</div>

			<div class="description">
				<%= truncate(Journal.find(publication.journal_id).description, length: 250) %> <%= link_to t('read_more'), Journal.find(publication.journal_id) %>

			</div>
			
			<div class="charte">
				Charte Editoriale,</br><%= Journal.find(publication.journal_id).user.username %>
			</div>

			<div class="toolbox">

				<div class="add-to-my-journal">
	  					<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-lg">
	            			<span class="glyphicon glyphicon-plus"></span> S'abonner
	            		</button>
				</div>

				<div class="share">
	  					<button type="submit" type="button" class="btn btn-default btn-lg">
	            			<span class="glyphicon glyphicon-share"></span> Partager
	            		</button>
					
				</div>
			</div>

			<div class="facebook-comments">
				<div class="fb-comments" data-href="http://0.0.0.0:3000/<%= Journal.find(publication.journal_id).id %>" data-width="680"></div>
			</div>

			
		</div>

	<% end %>
		
	<% if publication.element == "article" %>

		<div class="publication-box">

			<div class="title-block">
				
				<div class="title">
					<%= link_to Article.find(publication.article_id).title, Article.find(publication.article_id) %>
				</div>
			</div>

			<% unless Article.find(publication.article_id).photo.blank? %>
			<div class="cover">
				<%= link_to image_tag(Article.find(publication.article_id).photo_url(:catalogue).to_s), Article.find(publication.article_id) %>
			</div>
			<% end %>


			<div class="quote-content">
				<%= truncate(strip_tags(Article.find(publication.article_id).content), length: 750) %> <%= link_to t('read_more'), Article.find(publication.article_id) %>
			</div>


          <div class="belt">
            <div class="favorite favorite-<%= publication.article_id %>">

              <% if user_signed_in? and (Favorite.where("article_id = ? AND user_id = ?", publication.article_id, current_user.id).count < 1) %>
                <a href="<%= article_favorite_toggle_path(publication.article_id) %>" class="toggle_link" data-remote="true"><span class='icon-star'></span> <%= t "add_to_favorite" %></a>
              <% end %>

              <% if user_signed_in? and (Favorite.where("article_id = ? AND user_id = ?", publication.article_id, current_user.id).count > 0) %>
                <a href="<%= article_favorite_toggle_path(publication.article_id) %>" class="toggle_link" data-remote="true"><span class='icon-cancel'></span> <%= t "remove_from_favorite" %></a>
              <% end %>

              <% Favorite.where("article_id = ?", publication.article_id).order('created_at DESC').last(5).each do |favore| %>
                <%= link_to (image_tag favore.user.avatar_url().to_s), favore.user, :class => 'avatar_link' %>
              <% end %>
            </div>


            <div class="interacts">
              <a href="https://twitter.com/share" title="<%= t 'share_twitter' %>" target="blank"><span class="icon-twitter"></span></a>
              <a href="#" title="<%= t 'share_facebook' %>" onclick="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;"><span class="icon-facebook-rect"></span></a>
            </div>
          </div>

          <div class="data">
            <%= t "redacted_by" %> <%= link_to publication.user.username, user_path(publication.user) %>, <span class="icon-bookmark"></span> <%= time_ago_in_words(publication.created_at) %>
            <% unless publication.user.nil? %>
            </br><%= publication.user.about %>
            <% end %>
          </div>




		</div>

	<% end %>
		
	</br>
	<% end %>


