	<% Publication.where('user_id = ? AND element = ?', @user.id, "article").order("created_at DESC").each do |publication| %>
	<% if publication.element == "journal" %>

		<div class="publication-journal-box" style="background-color: red;">

			<div class="title-block">
				
				<div class="title">
					<%= link_to Journal.find(publication.journal_id).name, Journal.find(publication.journal_id) %>
				</div>

				<div class="created-at">
					<%= Journal.find(publication.journal_id).user.username %> &bull; Démarré le <%= Journal.find(publication.journal_id).created_at.day %>/<%= Journal.find(publication.journal_id).created_at.month %>/<%= Journal.find(publication.journal_id).created_at.year %>
				</div>

			</div>

			<div class="cover">
				<%= link_to image_tag(Journal.find(publication.journal_id).cover_url().to_s), Journal.find(publication.journal_id) %>
			</div>

			<div class="description">
				<%= truncate(Journal.find(publication.journal_id).description, length: 250) %> <%= link_to "Continuer à lire", Journal.find(publication.journal_id) %>

			</div>
			
			<div class="charte">
				Charte Editoriale,</br><%= Journal.find(publication.journal_id).user.username %>
			</div>

			<div class="toolbox">

				<div class="add-to-my-journal">
	  					<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-lg">
	            			<span class="glyphicon glyphicon-plus"></span> S'abonner
	            		</button>
				</div>

				<div class="share">
	  					<button type="submit" type="button" class="btn btn-default btn-lg">
	            			<span class="glyphicon glyphicon-share"></span> Partager
	            		</button>
					
				</div>
			</div>

			<div class="facebook-comments">
				<div class="fb-comments" data-href="http://0.0.0.0:3000/<%= Journal.find(publication.journal_id).id %>" data-width="680"></div>
			</div>

			
		</div>

	<% end %>
		
	<% if publication.element == "article" %>

		<div class="publication-box">

			<div class="title-block">
				
				<div class="title">
					<%= link_to Article.find(publication.article_id).title, Article.find(publication.article_id) %>
				</div>
			</div>

			<% unless Article.find(publication.article_id).photo.blank? %>
			<div class="cover">
				<%= link_to image_tag(Article.find(publication.article_id).photo_url().to_s), Article.find(publication.article_id) %>
			</div>
			<% end %>


			<div class="quote-content">
				<%= truncate(strip_tags(Article.find(publication.article_id).content), length: 750) %> <%= link_to "Continuer à lire", Article.find(publication.article_id) %>
			</div>
<!-- 
			<div class="toolbox">
				<% if Credit.where("user_id = ? and article_id = ?", current_user.id, Article.find(publication.article_id).id).count < 100 %>
				
              <%= form_for(Credit.new, url: vote_user_article_path(), remote: true) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :article_id, value: Article.find(publication.article_id).id %>
                <%= f.hidden_field :verdict, value: true %>
                <button type="submit" type="button" class="btn btn-default btn-lg vote-<%= Article.find(publication.article_id).id %>">
                  <span class="glyphicon glyphicon-thumbs-up"></span> Credible
                </button>
              <% end %>

              <%= form_for(Credit.new, url: vote_user_article_path(), remote: true) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :article_id, value: Article.find(publication.article_id).id %>
                <%= f.hidden_field :verdict, value: false %>
                <button type="submit" type="button" class="btn btn-default btn-lg vote-<%= Article.find(publication.article_id).id %>">
                  <span class="glyphicon glyphicon-thumbs-down"></span> Je ne pense pas
                </button>
              <% end %>
				<% end %>

				<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-lg">
           			<span class="glyphicon glyphicon-plus"></span> Publier
           		</button>

				<button type="submit" type="button" class="btn btn-default btn-lg">
	            	<span class="glyphicon glyphicon-share"></span> Partager
	            </button>

			</div>

			<div class="facebook-comments">
				<div class="fb-comments" data-href="http://0.0.0.0:8080/articles/<%= Article.find(publication.article_id).id %>" data-width="680"></div>
			</div>
 -->
			
		</div>

	<% end %>
		
	</br>
	<% end %>


