<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @follow.user_id %>
</p>

<p>
  <b>Followee:</b>
  <%= @follow.followee_id %>
</p>

<p>
  <b>Journal:</b>
  <%= @follow.journal_id %>
</p>


<%= link_to 'Edit', edit_follow_path(@follow) %> |
<%= link_to 'Back', follows_path %>
