<%= render "journals/abonnements/header" %>

<div id="abonnement_container">
	
	<% @follows.each do |journal| %>


	    <% count = Read.where('journal_id = ?', Journal.find(journal.journal_id)).count %>

	    <% if count < 6 %>

			<div id="abonnement_journal" class="box size11" style="background-image: url(<%= Journal.find(journal.journal_id).cover_url(:abonnement11).to_s %>);">

				<span class="title">
					<%= link_to Journal.find(journal.journal_id).name, Journal.find(journal.journal_id) %>
				</span>

			</br>
				
				<%= Journal.find(journal.journal_id).description %>
<!--  -->

			</div>

	    <% end %>

	    <% if (count > 5) and (count < 11) %>

			<div id="abonnement_journal" class="box size21" style="background-image: url(<%= Journal.find(journal.journal_id).cover_url(:abonnement21).to_s %>);">
				<%= link_to Journal.find(journal.journal_id).name, Journal.find(journal.journal_id) %></br>
				<%= Journal.find(journal.journal_id).description %>
<!--  -->
			</div>

	    <% end %>

	    <% if count > 10 %>

			<div id="abonnement_journal" class="box size22" style="background-image: url(<%= Journal.find(journal.journal_id).cover_url(:abonnement22).to_s %>);">
				<%= link_to Journal.find(journal.journal_id).name, Journal.find(journal.journal_id) %></br>
				<%= Journal.find(journal.journal_id).description %>
<!--  -->
			</div>

	    <% end %>

		
	<% end %>

</div>


<script type="text/javascript" >
  
  $(function() { 
   
    $('#abonnement_container').nested(); 
 
  });
  
  
</script>