<div id="journaux_index">
    
<!-- 
Journal.where('user_id != ?', current_user.id).each do |journal| %> -->
<% Journal.order('created_at DESC').all.each do |journal| %>



        <% count = Read.where('journal_id = ?', journal).count %>

        <% if count < 6 %>

            <div id="index_journal" class="box size11">

                <div class="title">
                    <%= link_to journal.name, see_journal_path(journal) %>
                </div>

                <%= image_tag journal.cover_url(:abonnement11).to_s %>

                <% if Read.where('journal_id = ? AND user_id = ?', journal, current_user.id).count < 1 %>

                    <div class="unread">
                        <%= image_tag 'corner_triangle.png' %>
                    </div>

                <% end %>

            </div>

        <% end %>

        <% if (count > 5) and (count < 11) %>

            <div id="index_journal" class="box size21" >

                <div class="title">
                    <%= link_to journal.name, see_journal_path(journal) %>
                </div>

                <%= image_tag journal.cover_url(:abonnement21).to_s %>

                <% if Read.where('journal_id = ? AND user_id = ?', journal, current_user.id).count < 1 %>

                    <div class="unread">
                        <%= image_tag 'corner_triangle.png' %>
                    </div>

                <% end %>

            </div>

        <% end %>

        <% if count > 10 %>

            <div id="index_journal" class="box size22" >

                <div class="title">
                    <%= link_to journal.name, see_journal_path(journal) %>
                </div>

                <%= image_tag journal.cover_url(:abonnement22).to_s %>

                <% if Read.where('journal_id = ? AND user_id = ?', journal, current_user.id).count < 1 %>

                    <div class="unread">
                        <%= image_tag 'corner_triangle.png' %>
                    </div>

                <% end %>

            </div>

        <% end %>

        



<script type="text/javascript" >
  
  $(function() { 
   
    $('#journaux_index').nested(); 
 
  });
  
  
</script>

<% end %>


</div>

<br />

<%= link_to 'New Journal', new_journal_path %>
