<div id="journal_show">

  <div class="top-journal-board">
    
    <div class="cover">
      <%= image_tag @journal.cover_url().to_s %>
    </div>

    <div class="journal-data">
      <div class="title">
        <%= @journal.name %>
      </div>

      <div class="description">
        <%= raw(@journal.description) %>
      </div>

      <div class="sub-board">
        <% Follow.where("journal_id = ?", @journal.id).last(20).each do |follower| %>
          <%= link_to image_tag(follower.user.avatar_url().to_s, title: follower.user.username), user_path(follower.user) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="info-box">
    <div class="admin-avatar">
      <%= image_tag @journal.user.avatar_url().to_s %>
    </div>
    
    <div class="bande-info">
      <div class="bande-inbox">
        <div class="number">
          18
        </div>

        <div class="caption">
          Abonnés
        </div>
      </div>

      <div class="bande-inbox">
        <div class="number">
          43
        </div>

        <div class="caption">
          Journals
        </div>
      </div>
    </div>

    <div class="link">
      <%= link_to "Voir le profil", user_path(@journal.user) %>
    </div>

  </div>

  <div class="info-box">
    <%= Issue.where("journal_id = ?", @journal.id).order('created_at DESC').count %>
  </div>

  <div class="info-box">
    feafkk
  </div>


<!-- LIST JOURNAL'S UNPUBLISHED ISSUES -->
  <% Issue.where("journal_id = ?", @journal.id).order('created_at DESC').each do |issue| %>
    <div class="issue-box">
      numeroooooo
    </div>
  <% end %>
<!-- LIST JOURNAL'S UNPUBLISHED ISSUES END -->


</div>


<!-- LIST JOURNAL'S PUBLISHED ISSUES -->
Numeros publiés
<ul>
  <% Issue.where("journal_id = ? AND draft = ?", @journal.id, false).order('created_at DESC').each do |issue| %>
    
    <li>
      <%= link_to issue.theme, issue %>
    </li>

  <% end %>
</ul>
<!-- LIST JOURNAL'S PUBLISHED ISSUES END -->




<!-- ADD A NEW ISSUE MODULE -->
<% unless Issue.where("journal_id = ? AND draft = ?", @journal.id, true).order('created_at DESC').count > 0 %>

  <a data-toggle="modal" href="#add-issue-to-journal-ajax" class="btn btn-primary btn-lg">Add un issue</a>


  <!-- Modal -->
  <div class="modal fade" id="add-issue-to-journal-ajax" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Nouveau Numéro</h4>
        </div>
        <div class="modal-body">

          <!-- ADD A NEW JOURNAL AJAX -->
          <div id="new-journal">
            <%= form_for(Issue.new) do |f| %>
              <%= f.hidden_field :journal_id, :value => @journal.id %>
              <%= f.text_field :number, :placeholder => "Numéro" %>
              <%= f.text_field :theme, :placeholder => "Thème" %>
              <%= f.check_box :draft %>
              <%= f.submit %>
            <% end %>
          </div>
          <!-- ADD A NEW JOURNAL AJAX END -->

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<% end %>




<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
