<div id="journal_show">

  <div class="top-journal-board">
    
    <div class="cover">
      <%= image_tag @journal.cover_url().to_s %>
    </div>

    <div class="journal-data">
      <div class="title">
        <%= @journal.name %> <% if @journal.user == current_user %> <%= link_to (image_tag "color_18/gear.png"), edit_journal_path(@journal) %> <% end %>
      </div>

      <div class="description">
        <%= raw(@journal.description) %>
      </div>

      <div class="sub-board">
        <% Follow.where("journal_id = ?", @journal.id).last(20).each do |follower| %>
          <%= link_to image_tag(follower.user.avatar_url().to_s, title: follower.user.username), user_path(follower.user) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="info-box">
    <div class="admin-avatar">
      <%= image_tag @journal.user.avatar_url().to_s %>
    </div>
    
    <div class="bande-info">
      <div class="bande-inbox">
        <div class="number">
          18
        </div>

        <div class="caption">
          Abonnés
        </div>
      </div>

      <div class="bande-inbox">
        <div class="number">
          43
        </div>

        <div class="caption">
          Journals
        </div>
      </div>
    </div>

    <div class="link">
      <%= link_to "Voir le profil", user_path(@journal.user) %>
    </div>

  </div>

  <div class="info-journal-box">
    <div class="number-of-followers">
      <div class="number">
      <%= Follow.where("journal_id = ?", @journal.id).count %>
      </div>

      <div class="label">
        Abonnés
      </div>
      
    </div>

    <div class="number-of-issues">
      <div class="number">
        <%= Issue.where("journal_id = ?", @journal.id).count %>
      </div>

      <div class="label">
        Numéros Publiés
      </div>
      
    </div>
    
  </div>


  <% if ((@journal.user_id == current_user.id) and (Issue.where("journal_id = ? AND draft = ?", @journal.id, true).order('created_at DESC').count < 3)) %>
  <div class="add-issue-box">
    <div class="content">
      <a data-toggle="modal" href="#add-issue-to-journal-ajax">Ajouter un numéro</a>
    </div>
  </div>
  <% end %>


<!-- LIST JOURNAL'S UNPUBLISHED ISSUES -->
  <% Issue.where("journal_id = ?", @journal.id).order('created_at DESC').each do |issue| %>


    <% if (issue.draft == true ) and (issue.journal.user_id == current_user.id) %>
    <div class="issue-box">
      
      <div class="draft">
        <%= link_to (image_tag "color_18/gear.png"), edit_journal_path(@journal) %> <%= image_tag "draft.png" %>
      </div>

      <div class="theme-picture">
        <%= link_to image_tag(issue.picture_url().to_s), issue %>
      </div>

      <div class="bande-info">
        <div class="bande-inbox">
          <div class="number">
            <%= Page.where("issue_id = ?", issue.id).count %>
          </div>
          <div class="caption">
            Pages
          </div>
        </div>
      </div>

      <div class="link">
        <%= link_to issue.theme, issue %>
      </div>
      
    </div>
    <% end %>

    <% if (issue.draft == false ) %>
    <div class="issue-box">
      

      <div class="theme-picture">
        <%= link_to image_tag(issue.picture_url().to_s), issue %>
      </div>

      <div class="bande-info">
        <div class="bande-inbox">
          <div class="number">
            <%= Page.where("issue_id = ?", issue.id).count %>
          </div>
          <div class="caption">
            Pages
          </div>
        </div>

        <div class="bande-inbox">
          <div class="number">
            <%= Read.where('issue_id = ?', issue.id).count %>
          </div>

          <div class="caption">
            Lectures
          </div>
        </div>
      </div>

      <div class="link">
        <%= link_to issue.theme, issue %>
      </div>
      
    </div>
    <% end %>

  <% end %>
<!-- LIST JOURNAL'S UNPUBLISHED ISSUES END -->


</div>



<!-- ADD A NEW ISSUE MODULE -->
<% unless Issue.where("journal_id = ? AND draft = ?", @journal.id, true).order('created_at DESC').count > 0 %>

  <!-- Modal -->
  <div class="modal fade" id="add-issue-to-journal-ajax" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Nouveau Numéro</h4>
        </div>
        <div class="modal-body">

          <!-- ADD A NEW JOURNAL AJAX -->
          <div id="new-journal">
            <%= form_for(Issue.new) do |f| %>
              <%= f.hidden_field :journal_id, :value => @journal.id %>
              <%= f.text_field :number, :placeholder => "Numéro" %>
              <%= f.file_field :picture %>
              <%= f.text_field :theme, :placeholder => "Thème" %>
              <%= f.hidden_field :draft, value: "true" %>
              <%= f.submit %>
            <% end %>
          </div>
          <!-- ADD A NEW JOURNAL AJAX END -->

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<% end %>
