<% if user_signed_in? and current_user.admin? %>


<div id="admin-blog-sidebar">

	<div class="tickets-list">
		<% @blogs.each do |blog| %>
			<div class="blog"><%= link_to blog.title, blog %></td></div>
		    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
		    <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>

		<% end %>
	</div>


</div>

<div id="admin-blog-main">




	<div id="admin-new-blog">
		<%= form_for(Blog.new) do |f| %>

		  <div class="field">
		    <%= f.label :title %><br />
		    <%= f.text_field :title %>
		  </div>
		  <div class="field">
		    <%= f.label :shot %><br />
		    <%= f.file_field :shot %>
		  </div>

		    <%= f.hidden_field :content %>
			<%= f.hidden_field :user_id, value: current_user.id %>


		  <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>
		
		<div contenteditable="true" class="content" id="textarea" onkeyUp="document.getElementById('blog_content').value = document.getElementById('textarea').innerHTML;">Ecris ton message ici</div>
		
	</div>



</div>



<% else %>
	Barra el3ab b3id
<% end %>