<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=153439174806312";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header id="logo-header">
	<div class="logo" >
		<%= link_to (image_tag "logo.png"), root_path() %>
	</div>

</header>

<header id="header">
	<div class="lefty" style="visibility: hidden;" >
		<%= link_to "Wireald", root_path() %>
	</div>

	<div class="subtle">
		<ul>
			<li><%= Date.today.to_formatted_s(:long_ordinal) %></li>

			<li>
				<% if user_signed_in? %>
					Bonjours <%= link_to current_user.username, current_user %>
				<% end %>				
			</li>


			<% if user_signed_in? %>
			<li>
				<% if Notification.all(:conditions => ['user_id = ?', current_user.id]).count != 0 %>
				<%= Notification.all(:conditions => ['user_id = ?', current_user.id]).count %> <% end %> 
			</li>
			<% end %>

			<li></li>

		</ul>
	</div>
	
	<% if user_signed_in? %>
	<div class="righty">
		<ul>
			<li><%= image_tag "color_128/bell.png" %> Notifications</li>
			<li><a href="<%= user_path(current_user) %>"><%= image_tag "color_128/user.png" %> Profil</a></li>
			<li><%= image_tag "color_128/bell.png" %> Notifications</li>
			<li></li>

		</ul>
		
	</div>
	<% end %>

</header>
<!-- 
<div id="sidemenu">

	<div class="menu">
		
		<ul class="titles">
			<li>

				Mon Panneau

				<% if user_signed_in? %>
				<ul class="subtitles">
					<li><%= link_to "Mon Profil", current_user %></li>
					<li><%= link_to "Me Deconnecter", logout_path() %></li>
				</ul>
				
				<% else %>

				<ul class="subtitles">
					<li><%= link_to "Me Connecter", login_path() %></li>
					<li><%= link_to "M'enregistrer", register_path() %></li>
				</ul>
				<% end %>

			</li>

			<% if user_signed_in? %>
			
			<li class="items">

				Mon Kiosque

				<ul class="subtitles">
					<li><%= link_to "Mes Abonnements", abonnements_path() %></li>
					<li><%= link_to "Mes Auteurs Favoris", logout_path() %></li>
					<li><%= link_to "Journaux", journals_path() %></li>
				</ul>

			</li>


			<li class="items">Mon Bureau

				<ul class="subtitles">
					<li><%= link_to "Mes Journaux", current_user %></li>
					<li><%= link_to "Mes Auteurs Favoris", logout_path() %></li>
					<li><%= link_to "Journaux", journals_path() %></li>
				</ul>
			
			</li>

			<% end %>
			
		</ul>

	</div>
 -->

</div>