<!DOCTYPE html>
<html>
<head>
  <title>Dowritit &bull; The Social Journal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  
</head>
<body>

<% if user_signed_in? %>
<div id="toolbar">
	<% link_to (image_tag "icons/star.png"), "" %>
	<% link_to (image_tag "icons/write.png"), "" %>
	<a href="<%= new_article_path() %>"><%= image_tag "icons/plume.png" %></a>
	<a href="<%= edit_user_path(current_user) %>"> <%= image_tag "icons/gears.png" %></a>
	<a href="<%= logout_path() %>"> <%= image_tag "icons/door.png" %></a>
</div>
<% end %>

<%= yield %>

<script type="text/javascript" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>

</body>
</html>